<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		<%- title %>
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<meta name="author" content="Meri">
	<meta name="keywords" content="六角學院, 前端線上課程, Hex School, HTML, CSS, JavaScript">
	<meta property="og:title" content="Hex School">
	<meta property="og:description" content=" 打破影音課程售後不理，我們在線上等著你。">
	<meta property="og:site_name" content="六角學院">
	<meta property="og:locale" content="zh_TW">
	<meta property="og:image" content="./image/HexSchool-logo.png">

	<link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
	<!-- AOS.js -->
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init({
			once: true,
		});
	</script>


	<%- contents %>


		<script src="./assets/js/vendors.js"></script>
		<script src="./assets/js/all.js"></script>
</body>

</html>